@model IEnumerable<HospitalProject.Models.DepartmentDto>
@{
    ViewBag.Title = "New";
}

<h2>Create Job</h2>

<form action="/Job/Create" method="POST">
    <div>
        <label>Title: </label> <input type="text" name="JobTitle" />
    </div>
    <div>
        <label>Department: </label>
        <select name="DeptId">
            @foreach (var department in Model)
            {
                <option value="@department.DeptId">@department.DeptName</option>

            }
        </select>
    </div>
    <div>
        <label>Responsibilities: </label> <input type="text" name="Responsibility" />
    </div>
    <div>
        <label>Qualifications: </label> <input type="text" name="Qualification" />
    </div>
    <div>
        <label>Offer: </label> <input type="text" name="Offer" />
    </div>
    <div>
        <input type="submit" value="Add Job"/>
    </div>
</form>