@model IEnumerable<HospitalProject.Models.AuthorsDto>


@{ ViewBag.Title = "Create"; }

<h2>Add New Article</h2>

<form action="/Article/Create" method="POST">
    <div class="form-group">
        <label class="control-label">Title:</label>
        <input type="text" name="ArticleTitle" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="message">ArticleBody</label>
        <textarea class="form-control"
                  id="message"
                  name="ArticleBody"
                  cols="30"
                  rows="10"
                  placeholder="Enter your post"
                  required></textarea>
    </div>

    <div class="form-group">
        <label class="control-label">Author:</label>
        <select name="AuthorId">
            @foreach (var authors in Model)
            {
<option value="@authors.AuthorID">@authors.AuthorFname @authors.AuthorLname</option>
}
        </select>
    </div>

    <button class="btn btn-primary" type="submit"> Add</button>
</form>

<div>
    @Html.ActionLink("Back to List", "List")
</div>
