@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="section">
    <h3>Our Vision</h3>
    <p>To be a role model for northern rural health care.</p>
    <h3>Our Mission</h3>
    <p>Quality patient centered health care and education close to home.</p>
    <h3>Our Purpose</h3>
    <p>To be a caring, innovative, community hospital, engaged with our patients, community and partners.</p>
    <h3>Our Values</h3>
    <ul>
        <li>Leadership</li>
        <li>Respect</li>
        <li>Excellence</li>
        <li>Accountability</li>
        <li>Team Work</li>
        <li>Social Responsibility</li>
        <li>Safety</li>
    </ul>
</div>
