@{
    ViewBag.Title = "Home Page";
}


<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container">

        <div class="row gy-4 mt-5 justify-content-center">
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Home/About">Doctors</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Patient/List">Patients</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Job/List">Job Posting</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Department/List">Departments</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Appointment/List">Appointments</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Home/About">Article</a></h3>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="jumbotron">
    <h1>Welcome To Temiskaming Hospital</h1>
    <p class="lead">Quality patient centered health care and education close to home.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>